body {
    font-family: "Raleway", sans-serif;
  }

  #Header-Section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

.img{
    width: 18em;
}

.custom-iconos{
  width: 14em;
  height: 10em;
}

.custom-imgp{
    height: 24em;
}

.custom-logounv{
    height: 17em;
    padding: 2em;
}

.custom-bag{
    background: linear-gradient(rgb(79, 79, 78), rgb(43, 42, 42));
    border-radius: 0em 9em 9em 0em;
    margin-bottom: 2em;
}

  .card-title a {
    text-decoration: none;
    color: #0D6EFD;
    font-weight: bold;
  }

ul {
    list-style-type: none;
  }

  .custom-footer{
    background: linear-gradient(rgb(101, 101, 101), rgb(55, 54, 54));
    padding: 2em;
    color: white;
  }